<ion-view>

	<ion-nav-bar class="bar-primary">
		<ion-nav-back-button class="button-clear">
			<i class="ion-ios-arrow-back arrow-back-cust"></i>
			<i class="icon ion-ios-home-outline"></i>
		</ion-nav-back-button>

		<ion-nav-title>
			<img class="ob-header-logo" src="img/ob-logo.png" alt="">
		</ion-nav-title>
	</ion-nav-bar>

	<ion-content class="padding">
		<div class="list card book-info">
			<div class="item item-avatar">
				<img src="img/adam.jpg">
				<h2>Marty McFly</h2>
				<p>November 05, 1955</p>
			</div>
			<div class="item item-body">
				<img class="full-image" src="img/b1.jpg">
				<p>
					This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
					the content is from a card-body consisting of an image and paragraph text. The footer
					consists of tabs, icons aligned left, within the card-footer.
				</p>
				<p class="social-links">
					<a href="" class="subdued">1 Like</a>
					<a href="" class="subdued">5 Comments</a>
				</p>
			</div>
		</div>

		<div class="card card-title animated slideInDown">
			<h4 class="ob-title">About Seller</h4>
		</div>

		<div class="list book-list animated bounceInLeft">
			<div class="item item-avatar item-divider">
				<img src="img/adam.jpg">
				<h2>Marty McFly</h2>
			</div>
			<a class="item item-thumbnail-left item-icon-right" href="#/tab/bookDetails">
				<img src="img/b1.jpg">
				<h2>Men's Journal</h2>
				<p>John Doe</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ipsa est temporibus, alias illum pariatur cumque?</p>
				 <i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-thumbnail-left item-icon-right" href="#">
				<img src="img/b2.jpg">
				<h2>Lucky</h2>
				<p>Jane Doe</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ipsa est temporibus, alias illum pariatur cumque?</p>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-thumbnail-left item-icon-right" href="#">
				<img src="img/b3.jpg">
				<h2>Glamour</h2>
				<p>Mike Doe</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ipsa est temporibus, alias illum pariatur cumque?</p>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-thumbnail-left item-icon-right" href="#">
				<img src="img/b4.jpg">
				<h2>GQ</h2>
				<p>Peter Doe</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ipsa est temporibus, alias illum pariatur cumque?</p>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-thumbnail-left item-icon-right" href="#">
				<img src="img/b5.jpg">
				<h2>Vogue</h2>
				<p>Peter Doe</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ipsa est temporibus, alias illum pariatur cumque?</p>
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>
