<ion-view name="login-view" class="pane-login">

	<ion-nav-bar class="bar-primary">
		<ion-nav-back-button class="button-clear">
			<i class="ion-ios-arrow-back"></i> Settings
		</ion-nav-back-button>
		
		<ion-nav-title>
			<img class="ob-header-logo" src="img/ob-logo.png" alt="">
		</ion-nav-title>
	</ion-nav-bar>

	<ion-content class="padding">
		<div class="card card-title">
   		<h4 class="ob-title">Change Password</h4>
		</div>
		
		<div class="list list-inset animated bounceInLeft">
			<label class="item item-input">
				<input type="text" placeholder="New Password" ng-model="data.password">
			</label>
		</div>

		<div class="list list-inset animated bounceInRight">
			<label class="item item-input">
				<input type="text" placeholder="Old Password" ng-model="data.oldpassword">
			</label>
		</div>

		<div class="list list-inset animated bounceInLeft">
			<label class="item item-input">
				<input type="text" placeholder="Confirm Password" ng-model="data.confpassword">
			</label>
		</div>

		<a ng-click="changepwd(data)" class="button button-block button-primary animated bounceInRight">Change</a>
	</ion-content>
	
</ion-view>