<ion-view name="login-view" class="pane-login font-tillium">

	<ion-nav-bar class="bar-primary">
		<ion-nav-back-button class="button-clear">
			<i class="ion-ios-arrow-back"></i> Login
		</ion-nav-back-button>

		<ion-nav-title>
			<img class="ob-header-logo" src="img/ob-logo.png" alt="">
		</ion-nav-title>
	</ion-nav-bar>

	<ion-content class="padding reset-pass">

		<div class="card card-title">
			 <h4 class="ob-title">Reset Password</h4>
		</div>

		<a class="button button-block button-google animated bounceInRight">
			<i class="fa fa-google" aria-hidden="true"></i> Sign in with Google
		</a>
		<a class="button button-block button-facebook animated bounceInLeft">
			<i class="fa fa-facebook" aria-hidden="true"></i> Sign in with Facebook
		</a>

		<h4 class="ob-title03 animated rubberBand"><span>OR</span></h4>

		<h5 class="ob-title02">Forgot Password?</h5>

		<p>Enter your email address and we will send you a link to reset your password</p>
		<div class="list list-inset animated bounceInLeft">
			<label class="item item-input">
				<input type="text" placeholder="Enter email address">
			</label>
		</div>

		<a href="" class="button button-block button-primary animated bounceInRight">Reset Password</a>
	</ion-content>

</ion-view>
