<ion-view>

	<ion-nav-title>
		<img class="ob-header-logo" src="img/ob-logo.png" alt="">
	</ion-nav-title>

	<ion-content class="padding settings-tab">

		<div class="card card-title">
			 <h4 class="ob-title">Settings</h4>
		</div>

		<a href="#/tab/history" class="button button-block button-primary animated bounceInLeft">My History</a>
		<a href="#/tab/chnPwd" class="button button-block button-primary animated bounceInRight">Change Password</a>
		<a ng-click="signout()" class="button button-block button-primary animated bounceInLeft">Sign Out</a>
	</ion-content>

</ion-view>
